@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to left bottom, rgb(235, 206, 206), rgb(60, 108, 128));
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

#form{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  flex-direction: column;
  padding: 15px;
  margin-top: 50px;
  z-index: 11;
}

#errorDiv {
    font-size: 35px;
    margin: auto;
    width: 100%;
    text-align: center;
    padding: 25px;
}

#btnSubmit {
    padding: 5px;
    background-color: blue;
    font-size: 15px;
    border: none;
    border-radius: 2rem;
    padding: 10px;
    font-weight: bold;
    color: white;
    margin-top: 30px;
}

#btnSubmit:hover {
    padding: 8px;
    background-color: aqua;
    font-size: 18px;
    font-weight: bold;
    color:whitesmoke;
    transition: all ease-out 0.2s;
}

#nick {
    border: none;
    border-radius: 2rem;
    padding: 10px;
    margin-top: 50px;
}

#everything {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    padding: 15rem;
    margin: 90px;
    border-radius: 2rem;
    box-shadow: 0 0 2rem rgba(0,0,0, 0.5);
    background-image: linear-gradient(to right bottom, rgba(183, 35, 212, 0.932), white);
}


/* PAGES */
#page1 {
    font-family: 'Sacramento', cursive;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

#page2,
#page3,
#page4,
#page5,
#page6{
    font-family: 'Dancing Script', cursive;
    font-size: 31px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1.1;
}

.formDiv {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 3px;
}

#rightArrow {
    position: absolute;
    font-size: 40px;
}

#leftArrow {
    position: absolute;
    font-size: 35px;
    padding-left: 31vw;
}

#rightArrow:hover, #leftArrow:hover {
    font-size: 44px;
    color:purple;
    cursor: pointer;
}

#confetti {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    pointer-events: none;
}

.hide {
    opacity: 0;
}

.permHide {
    display: none;
}

.show {
    opacity: 1;
    transition: all 0.9s ease;
}

/* mobile */
@media only screen and (max-width: 760px) {
    #everything {
        margin: 55px 25px;
        padding: 15px;
        padding-top: 2rem;
    }

    #rightArrow {
        margin-left: 84vw;
        margin-top: 0;
    }

    #leftArrow {
        margin-left: 10vw;
        margin-top: -68vh;
    }
}

/* desktop */
@media only screen and (min-width: 761px) {
    #everything {
        margin: 4rem 10rem;
        padding: 40px;
        padding-bottom: 2rem;
    }

    #rightArrow {
        margin-left: 73vw;
        margin-top: 0vh;
    }
}

@media only screen and (min-width: 973px) {
    #everything {
        padding: 3rem 2rem;
        margin: 3rem 15rem;
    }
    #rightArrow {
        margin-left: 71vw;
        margin-top: 0;
    }
}

@media only screen and (min-width: 1080px) {
    #everything {
        margin: 3rem 18rem;
        padding-bottom: 2rem;
    }
    
    #rightArrow {
        margin-left: 69vw;
        margin-top: 0;
    }
}

@media only screen and (min-width: 1200px) {
    #everything {
        margin: 4rem 22rem;
        padding-bottom: 3rem;
    }

    #rightArrow {
        margin-left: 67vw;
        margin-top: 0vh;
    }
}

@media only screen and (min-width: 1300px) {
    #rightArrow {
        margin-left: 69vw;
        margin-top: 0vh;
    }
}
@media only screen and (min-width: 1400px) {
    #everything {
        margin: 4rem 29rem;
        padding: 3rem;
    }
    #rightArrow {
        margin-left: 65vw;
    }
    #leftArrow {
        margin-right: 6vw;
        margin-left: 60rem;
    }
}
